:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  .container {
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
    margin: auto; /* Centra el contenedor */
    padding: 20px; /* Espaciado interno */
  }
  
  .list-group-item {
    margin-bottom: 20px; /* Espaciado entre items */
    padding: 20px; /* Espaciado interno del card */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo suave */
  }
  
  .mt-4 {
    margin-top: 1.5rem; /* Espaciado superior */
  }
  
  .viewer-container {
    height: 400px; /* Altura del contenedor del PDF */
    overflow: auto; /* Muestra scroll si el contenido excede */
    border: 1px solid #ddd; /* Borde alrededor del viewer */
    border-radius: 5px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco para el viewer */
  }
  
}
